body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: thin;
    margin: 30px;
    margin-top: 120px;
}

body.day {
    background: whitesmoke;
    color: black;
}

body.night {
    background: rgb(27, 27, 27);
    color: white;
}

body.night a {
    color: rgb(128, 191, 255);
}

body.night a:visited {
    color: rgb(177, 156, 217);
}

::selection {
    background: rgb(128, 191, 255);
    color: white;
}

/* Top bar */
#top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(207, 207, 207);
    top: 0;
    left: 0;
    padding: 1em;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    z-index: 1000;
    position: absolute;
}

body.night #top-bar {
    background-color: rgb(59, 59, 59);
    color: white;
}

#right-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

}

#top-bar h1 {
    font-size: 1.5em;
    margin-left: 5px;
}

#mode-button {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 50%;
    aspect-ratio: 1;
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}

body.night #mode-button {
    border: 1.5px solid whitesmoke;
    color: rgb(27, 27, 27);
}

#top-bar img {
    height: 30px;
    aspect-ratio: 1;
    margin: 3px;
}

#top-bar #linkedin-image {
    height: 40px;
    margin-top: 5px;
}

body.night img {
    filter: brightness(0) saturate(100%) invert(1);
}

/* project boxes */
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -10px;
    /* gap: 20px; */
}

.project-box {
    border: 2px solid darkgray;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 10px 10px;
    flex-basis: calc(33% - 20px);
    max-width: calc(33% - 20px);
    justify-content: center;
}


body.night .project-box {
    border: 2px solid whitesmoke;
}

/* tags */
.tags-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.tag {
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
    font-size: 0.9rem;
    display: block;
}

body.night .tag {
    border: 1px solid whitesmoke;
}

.tag p {
    display: inline-block;
    padding: 0px;
    margin: 0;
    border-radius: 50%;
    aspect-ratio: 1;
    height: 20%;
}

.python p {
    background: rgb(53, 114, 165);
}

.html p {
    background: rgb(227, 76, 38);
}

.css p {
    background: rgb(86, 61, 124);
}

.javascript p {
    background: rgb(241, 224, 90);
}

.fastAPI p {
    background: rgb(0, 150, 136);
}

.c p {
    background: rgb(85, 85, 85);
}

.c-plus-plus p {
    background: rgb(243, 75, 125);
}

.java p {
    background: rgb(176, 114, 25);
}

/* aka bash */
.shell p {
    background: rgb(137, 224, 81);
}

.assembly p {
    background: rgb(110, 76, 19);
}

.sql p {
    background: rgb(227, 140, 0);
}

hr {
    margin: 20px 0;
    width: 100%;
}

@media (max-width: 768px) {
    .project-box {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 500px) {

    /*full width on small screens"*/
    .project-box {
        flex-basis: calc(100% - 20px);
        max-width: calc(100% - 20px);
        margin: 10px;
    }

    .project-container {
        margin: 0;
    }

}