body {
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: thin;
    margin: 30px;
}

/* project boxes */
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -10px;
    /* gap: 20px; */
}

.project-box {
    border: 2px solid darkgray;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 10px 10px;
    flex-basis: calc(33% - 20px);
    max-width: calc(33% - 20px);
    justify-content: center;
}

/* tags */
.tags-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.tag {
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
    font-size: 0.9rem;
    display: inline-block;
    max-width: calc();
}

@media (max-width: 768px) {
    .project-box {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {

    /*half width on medium screens"*/
    .project-box {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 500px) {

    /*full width on small screens"*/
    .project-box {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
        margin: 10px;
    }

    .project-container {
        margin: 0;
    }

}